@import '../sass/variables.scss';

.footer {
  color: $white;

  &__top {
    background-color: #535253;

    &_content {
      padding: 3vh 5vw;
      display: flex;
      align-items: center;
      gap: 1vw;
    }
  }
}

.footer__bottom {
  background-color: $middle-grey;

  &_content {
    padding: 10.5vh 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_title {
    font-size: 20px;
    text-transform: uppercase;
  }

  &_description {
    margin-top: 25px;
    max-width: 305px;
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &_design {
    font-size: 18px;
    line-height: 28px;
  }
}

.footer__menu {
  &_list {
    display: flex;
    gap: 5px;
  }

  &_item {
    list-style-type: none;
  }

  &_link {
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
  }

  &_link:not(:last-child) {
    margin-right: 5px;
  }

  &_link:hover {
    color: $gold;
  }

  &_separator {
    color: $gold;
  }
}

@media screen and (max-width: $screen-max-width-small) {
  .footer__bottom_content {
    padding: 6.5vh 5vw;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .footer__bottom_right {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
