@import './variables.scss';
@import './logo-twitter.scss';
@import './footer-menu.scss';

.footer {
  color: $white;

  &__top {
    background-color: #535253;
  }

  &__top-content {
    padding: 3vh 5vw;
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  &__bottom {
    background-color: $middle-grey;
  }

  &__bottom-content {
    padding: 10.5vh 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
  }

  &__bottom-description {
    margin-top: 25px;
    max-width: 305px;
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__bottom-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__bottom-design {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: $screen-max-width-small) {
  .footer {
    &__bottom-content {
      padding: 6.5vh 5vw;
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
    }

    &__bottom-right {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}
