@import './variables.scss';
@import './label.scss';
@import './button.scss';
@import './card.scss';

.products {
  &__control-panel {
    background-color: $light-grayish-blue;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    color: $dark-grey;
    padding: 4vh 5vw;
    gap: 2.5vw;
  }

  &__checkbox-panel {
    display: flex;
    gap: 2.5vw;
  }

  &__field {
    padding: 7.5vh 0 23vh;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 2fr));
    gap: 2vh 3.5vw;
    justify-items: center;
    align-items: center;
    min-height: 850px;
  }
}

@media screen and (max-width: $screen-max-width-small) {
  .products {
    &__container {
      font-size: 16px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__checkbox-panel {
      flex-direction: column;
    }

    &__field {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      padding: 2.5vh 0 5vh;
      min-height: 500px;
    }
  }
}

@media screen and (max-width: $screen-max-width-smallest) {
  .products {
    &__container {
      font-size: 14px;
    }

    &__field {
      min-height: 500px;
    }
  }
}
