# General
.DS_Store
.AppleDouble
.LSOverride

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.sass-cache/
*.css.map
*.sass.map
*.scss.map