html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.intro {
  background: url("../assets/img/intro-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
.intro__container {
  color: #ffffff;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4vh 5vw;
  height: 100vh;
}
.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.intro__title {
  text-align: center;
  font-size: 60px;
}
.intro__description {
  max-width: 500px;
  text-align: center;
  font-size: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__logo {
  background: url("../assets/img/logo.png") no-repeat center;
  width: 53px;
  height: 40px;
}

.menu__list {
  display: flex;
  gap: 3vw;
}
.menu__item {
  list-style-type: none;
  position: relative;
}
.menu__link {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}
.menu__link::after {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #aa9b77;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.menu__link_active {
  color: #aa9b77;
  cursor: default;
}
.menu__link_active::after {
  width: 100%;
  transform: none;
}
.menu__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.menu__link:hover {
  color: #aa9b77;
}
.menu__svg_trolley {
  width: 24px;
  height: 20px;
  fill: #ffffff;
}
.menu__svg_trolley:hover {
  fill: #aa9b77;
}

.arrow-down {
  position: relative;
}
.arrow-down__link {
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
}
.arrow-down__link:hover {
  transform: translateY(5px);
}

@media screen and (max-width: 480px) {
  .header__logo {
    display: none;
  }

  .menu {
    width: 100%;
  }
  .menu__list {
    justify-content: space-around;
  }

  .intro__title {
    font-size: 40px;
  }

  .intro__description {
    font-size: 16px;
  }
}
.products__control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #333333;
  padding: 4vh 5vw;
  background-color: #f5f6f7;
  gap: 2.5vw;
}
.products__checkbox-panel {
  display: flex;
  gap: 2.5vw;
}
.products__label {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.products__checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  margin: 0;
  font: inherit;
  color: #aa9b77;
  width: 25px;
  height: 25px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.products__checkbox:checked {
  border: 2px solid #aa9b77;
}
.products__checkbox::before {
  content: "";
  width: 15px;
  height: 20px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}
.products__checkbox:checked::before {
  content: url("../assets/img/check.png");
  transform: scale(1);
}
.products__button {
  max-width: 204px;
  width: 100%;
  height: 52px;
  background-color: #aa9b77;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.products__button:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.products__field {
  padding: 7.5vh 0 23vh;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 2fr));
  gap: 2vh 3.5vw;
  justify-items: center;
  align-items: center;
  min-height: 850px;
}
.products__item {
  padding: 30px;
  max-width: 320px;
  width: 100%;
  height: 378px;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  color: #424242;
  cursor: pointer;
}
.products__item:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.products__item_active {
  border: 6px solid #aa9b77;
}
.products__item_select {
  border: none;
  font-family: Roboto;
  font-size: 18px;
  text-transform: uppercase;
  color: #424242;
  outline: none;
}
.products__item_select:active {
  border: none;
  outline: none;
}
.products__item_image-wrapper {
  display: flex;
  justify-content: center;
}
.products__item_image {
  max-width: 145px;
  height: 230px;
  width: 100%;
  object-fit: contain;
}
.products__item_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__item_name {
  color: #aa9b77;
}
.products__item_price {
  font-size: 22px;
}

.animate-repeat {
  box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .products__control-panel {
    font-size: 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  .products__checkbox-panel {
    flex-direction: column;
  }

  .products__field {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 2.5vh 0 5vh;
    min-height: 500px;
  }
}
@media screen and (max-width: 480px) {
  .products__control-panel {
    font-size: 14px;
  }

  .products__checkbox {
    width: 20px;
    height: 20px;
  }

  .products__checkbox::before {
    height: 14px;
  }

  .products__button {
    font-size: 12px;
  }

  .products__field {
    min-height: 500px;
  }
}
.footer {
  color: #ffffff;
}
.footer__top {
  background-color: #535253;
}
.footer__top_content {
  padding: 3vh 5vw;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.footer__bottom {
  background-color: #424242;
}
.footer__bottom_content {
  padding: 10.5vh 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__bottom_title {
  font-size: 20px;
  text-transform: uppercase;
}
.footer__bottom_description {
  margin-top: 25px;
  max-width: 305px;
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase;
}
.footer__bottom_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__bottom_design {
  font-size: 18px;
  line-height: 28px;
}

.footer__menu_list {
  display: flex;
  gap: 5px;
}
.footer__menu_item {
  list-style-type: none;
}
.footer__menu_link {
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.footer__menu_link:not(:last-child) {
  margin-right: 5px;
}
.footer__menu_link:hover {
  color: #aa9b77;
}
.footer__menu_separator {
  color: #aa9b77;
}

@media screen and (max-width: 768px) {
  .footer__bottom_content {
    padding: 6.5vh 5vw;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .footer__bottom_right {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
